// The TPM shall successfully unmarshal a TPMI_ST_COMMAND_TAG and verify that it
// is either TPM_ST_SESSIONS or TPM_ST_NO_SESSIONS (TPM_RC_BAD_TAG).
TpmTestVector(
  name: "[Command Header] bad tag",
  spec_versions: [
    184,
  ],
  test_sequence: [
    (
      step: "Issue command header with invalid tag",
      // TPMI_ST_COMMAND_TAG = 0123, invalid value
      input: "01230000000a00000000",
      response: "80010000000a0000001e",
      response_mask: "FFFFFFFFFFFFFFFFFFFF",
    ),
    (
      step: "Issue command header with valid but incorrect tag",
      // TPMI_ST_COMMAND_TAG = 8000, TPM_ST_NULL
      input: "80000000000a00000000",
      response: "80010000000a0000001e",
      response_mask: "FFFFFFFFFFFFFFFFFFFF",
    ),
  ]
)
