// If the TPM is in Failure mode, then the commandCode is TPM_CC_GetTestResult
// or TPM_CC_GetCapability (TPM_RC_FAILURE)...
TpmTestVector(
  name: "[Mode Check] failure mode disallowed commands",
  spec_versions: [
    184,
  ],
  // Each command not allowed in failure mode is listed here.
  test_sequence: [
    EnterFailureMode,
    SendCommand(
      step: "TPM2_Startup not allowed in failure mode",
      // Command = TPM2_Startup
      input: "80010000000c000001440000",
      response: "80010000000a00000101",
    ),
  ]
)

// The TPM can enter Failure mode during _TPM_Init processing, before
// TPM2_Startup(). Since the platform firmware cannot know that the TPM is in
// Failure mode without accessing it, and since the first command is required to
// be TPM2_Startup(), the expected sequence will be that platform firmware (the
// CRTM) will issue TPM2_Startup() and receive TPM_RC_FAILURE indicating that
// the TPM is in Failure mode.
