// If the TPM is in Failure mode, then the commandCode is TPM_CC_GetTestResult
// or TPM_CC_GetCapability (TPM_RC_FAILURE)...
TpmTestVector(
  name: "[Mode Check] failure mode allowed commands",
  spec_versions: [
    184,
  ],
  // Note that we're only checking that the status returned from these commands
  // is TPM_RC_SUCCESS
  test_sequence: [
    EnterFailureMode,
    SendCommand(
      step: "TPM2_GetTestResult allowed in failure mode",
      // Command = TPM2_GetTestResult
      input: "8001_0000000a_0000017c",
      // Only check for TPM_RC_SUCCESS, ignore extra response data.
      response: "8001_********_00000000",
    ),
    //  While in Failure mode, the TPM is only required to provide a limited
    //  number of property values. They are all in the set of TPM properties
    //  (TPM_CAP_TPM_PROPERTIES):
    // • TPM_PT_MANUFACTURER
    // • TPM_PT_VENDOR_STRING_1
    // • TPM_PT_VENDOR_STRING_2
    // • TPM_PT_VENDOR_STRING_3
    // • TPM_PT_VENDOR_STRING_4
    // • TPM_PT_VENDOR_TPM_TYPE
    // • TPM_PT_FIRMWARE_VERSION_1
    // • TPM_PT_FIRMWARE_VERSION_2
    SendCommand(
      step: "TPM2_GetCapability allowed in failure mode",
      // Command = TPM2_GetCapability, request all properties above.
      input: "8001_00000016_0000017a_00000006_00000105_00000008",
      // Only check for TPM_RC_SUCCESS, ignore extra response data.
      response: "8001_********_00000000",
    ),
  ]
)
