#![enable(implicit_some)] // Prevents the need to write 'Some' for Option<T>.

// If the TPM has not been initialized (TPM2_Startup()), then the commandCode is
// TPM_CC_Startup (TPM_RC_INITIALIZE).
TpmTestVector(
  name: "[Mode Check] startup mode",
  spec_versions: [
    184,
  ],
  test_sequence: [
    (
      step: "Issue command before startup",
      // Command = TPM_SelfTest
      input: "80010000000b0000014300",
      response: "80010000000a00000100",
      response_mask: "FFFFFFFFFFFFFFFFFFFF",
    )
  ]
)
