// Additional TPM2_Startup() commands are not allowed after it has completed
// successfully.
TpmTestVector(
  name: "[TPM2_Startup] startup not allowed after success",
  spec_versions: [
    184,
  ],
  test_sequence: [
    SendCommand(
      step: "Issue TPM Startup Command First (success)",
      input: "80010000000c000001440000",
      response: "80010000000a00000000",
    ),
    SendCommand(
      step: "Issue TPM Startup Command Second (failure)",
      input: "80010000000c000001440000",
      response: "80010000000a00000100",  // TPM_RC_INITIALIZE
    ),
  ]
)
