// TPM Restart - This is a Startup(CLEAR) preceded by Shutdown(STATE). This
// preserves much of the previous state of the TPM except that PCR and the
// controls associated with the Platform hierarchy are all returned to their
// default initialization state;
TpmTestVector(
  name: "[TPM2_Startup] TPM Restart sequence",
  spec_versions: [
    184,
  ],
  test_sequence: [
    SendCommand(
      step: "Issue TPM Startup Command",
      input: "8001_0000000c_00000144_0000",
      response: "8001_0000000a_00000000",
    ),
    // TODO: Confirm values have default initialization.
  ]
)
