// If, during TPM Restart or TPM Resume, the TPM fails to restore the state
// saved at the last Shutdown(STATE), the TPM shall enter Failure Mode and
// return TPM_RC_FAILURE.
TpmTestVector(
  name: "[TPM2_Startup] Failure restoring Shutdown STATE",
  spec_versions: [
    184,
  ],
  test_sequence: [
    SendCommand(
      step: "Issue TPM Startup Command",
      input: "80010000000c000001440001",
      // TPM_RC_1 | TPM_RC_P | TPM_RC_VALUE
      response: "80010000000a000001c4",
    ),
  ]
)
