// On TPM Restart:
//
// • For each NV index with TPMA_NV_WRITEDEFINE CLEAR or TPMA_NV_WRITTEN CLEAR,
// TPMA_NV_WRITELOCKED shall be CLEAR,
TpmTestVector(
  name: "[TPM2_Startup] Restart clears TPMA_NV_WRITELOCKED",
  spec_versions: [
    184,
  ],
  test_sequence: [
    SendCommand(
      step: "Issue TPM Startup Command",
      input: "8001_0000000c_00000144_0000",
      response: "8001_0000000a_00000000",
    ),
  ]
)
