// v184 of the TPM Specification does not specify what happens when a bad type
// is provided; however, when a bad type is provided to TPM2_Startup, the
// unmarshaling code returns TPM_RC_VALUE, so we check that here too.
